name: FastAPI Deploy(Production)

on:
  workflow_dispatch:  # manual trigger from GitHub
  
jobs:
  deploy:
    runs-on: [self-hosted]
    defaults:
      run:
        working-directory: ./backend

    steps:
      # 1️⃣ Checkout repo
      - uses: actions/checkout@v4

      # 2️⃣ Copy environment file
      - name: Copy environment file
        run: cp /home/harif/envs/wosooly.env .env

      # 3️⃣ pull latest images
      - name: Pull latest images
        run: docker compose pull || true

      # 4️⃣ Build and deploy containers
      - name: Deploy FastAPI containers
        run: docker compose up -d --build

      # 5️⃣ Show running containers
      - name: Show running containers
        run: docker ps
