name: FastAPI CI

on:
  push:
    branches: ["main"]

jobs:
  ci:
    runs-on: [self-hosted]

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_SSH_KEY }}

      - name: Copy environment file
        run: cp /home/harif/envs/wosooly.env .env

      - name: Build Docker images
        run: docker compose build


