/* Dashboard grid system - scoped to layout to avoid conflicts with Tailwind */
.layout .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    width: 100%;
}

.layout [class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}

.layout .col-1 {
    width: 8.33%;
}

.layout .col-2 {
    width: 16.66%;
}

.layout .col-3 {
    width: 25%;
}

.layout .col-4 {
    width: 33.33%;
}

.layout .col-5 {
    width: 41.66%;
}

.layout .col-6 {
    width: 50%;
}

.layout .col-7 {
    width: 58.33%;
}

.layout .col-8 {
    width: 66.66%;
}

.layout .col-9 {
    width: 75%;
}

.layout .col-10 {
    width: 83.33%;
}

.layout .col-11 {
    width: 91.66%;
}

.layout .col-12 {
    width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .layout .col-md-1 {
        width: 8.33%;
    }

    .layout .col-md-2 {
        width: 16.66%;
    }

    .layout .col-md-3 {
        width: 25%;
    }

    .layout .col-md-4 {
        width: 33.33%;
    }

    .layout .col-md-5 {
        width: 41.66%;
    }

    .layout .col-md-6 {
        width: 50%;
    }

    .layout .col-md-7 {
        width: 58.33%;
    }

    .layout .col-md-8 {
        width: 66.66%;
    }

    .layout .col-md-9 {
        width: 75%;
    }

    .layout .col-md-10 {
        width: 83.33%;
    }

    .layout .col-md-11 {
        width: 91.66%;
    }

    .layout .col-md-12 {
        width: 100%;
    }
}

/* SMALL SCREEN */

@media only screen and (max-width: 500px) {
    .layout .col-sm-1 {
        width: 8.33%;
    }

    .layout .col-sm-2 {
        width: 16.66%;
    }

    .layout .col-sm-3 {
        width: 25%;
    }

    .layout .col-sm-4 {
        width: 33.33%;
    }

    .layout .col-sm-5 {
        width: 41.66%;
    }

    .layout .col-sm-6 {
        width: 50%;
    }

    .layout .col-sm-7 {
        width: 58.33%;
    }

    .layout .col-sm-8 {
        width: 66.66%;
    }

    .layout .col-sm-9 {
        width: 75%;
    }

    .layout .col-sm-10 {
        width: 83.33%;
    }

    .layout .col-sm-11 {
        width: 91.66%;
    }

    .layout .col-sm-12 {
        width: 100%;
    }
}
